.page-header{
    text-align: center;
    margin-top: 0.5em;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:darkmagenta !important;
    border-color: darkmagenta !important;
    display:block;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 3em;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }