<div *ngIf="item">
    <h2>{{item.name}}</h2>
    <ul class="list-group">
        <li class="list-group-item">Username: {{item.username}}</li>
        <li class="list-group-item">Ingredients: {{item.ingredients}}</li>
        <li class="list-group-item">Recipe: {{item.recipe}} </li>
        <li class="list-group-item">Difficulty: {{item.difficulty}} </li>
        <li class="list-group-item">Time: {{item.time}} </li>
        <li class="list-group-item">Likes: {{item.likes}} </li>    
    </ul>
    <form (submit)="likeRecipe()">
        <input type="submit" class="btn btn-primary btn-sm" value="Like this recipe !" 
        (click)="reloadCurrentPage()">     
        <button class="btn btn-primary btn-sm" value="Go back to recipes" routerLink="/dashboard" 
        style="background-color:darkgray !important;
                border-color: darkgrey !important;
                margin-top: 0.5em;">Go back to recipes</button>  
    </form>  
    
</div>
